*
{
	padding: 0px;
	margin: 0px;
}

body
{
	background-color: white;

/*Header*/
	
.container
{
	background-color: #2596be;
	border-bottom: 5px solid black;
}

h1
{
	color: white;
	font-family: sans-serif;
	padding: 20px;
	font-size: 40px;
}

/*Navbar*/

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
    background-color: #2596be;
    color: white;
    flex-wrap: wrap;
}

.menu {
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 10px; /* Space out menu items */
    margin: 0;
}

.menu li {
    margin: 0 1rem;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ff6f61;
}

.menu li a:hover {
    color: #ff6f61;
}

h2
{
	color: #2596be;
	font-family: sans-serif;
	padding: 50px;
	font-size: 35px;
	text-align: center;
}

/*Main*/
.main
{
	color: black;
	font-family: sans-serif;
	padding: 50px;
	padding-bottom: 15px;
	font-size: 35px;
	text-align: left;
}

.main-title
{
	color: black;
	font-family: sans-serif;
	padding: 50px;
	padding-bottom: 15px;
	font-size: 28px;
	text-align: left;
}

p
{
	color: black;
	font-family: sans-serif;
	padding: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
	font-size: 20px;
	text-align: left;
}

.main-bullets
{
	color: black;
	font-family: sans-serif;
	padding: 10px;
	padding-left: 70px;
	padding-bottom: 10px;
	font-size: 20px;
	text-align: left;
}


/*Footer*/
footer
{
	background-color: #2596be;
	color: white;
	font-family: sans-serif;
	padding: 40px;
	border-top: 5px solid black;
}

hr
{
	border: 0; /* Remove the default border */
    height: 2px; /* Set the height of the line */
    background-color: white; /* Set the color of the line */
    margin: 10px 0; 
    width: 15%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap; 
}

.site-links,
.media-links, .location
{
    flex: 1; /* Each section takes equal space */
    padding: 10px;
    min-width: 200px;
}

.site-links h3,
.media-links h3, .location h3
{
    font-size: 24px;
    margin-bottom: 20px;
}

.location p {
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.site-links ul,
.media-links ul
{
    list-style: none; /* Remove default bullet points */
    padding: 0;
}

.site-links li,
.media-links li {
    margin-bottom: 10px; /* Add space between list items */
}

.site-links a,
.media-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.site-links li a:hover,
.media-links li a:hover {
    color: #ff6f61;
    text-decoration: none;
}

.copyright
{
	padding: 10px;
	color: white;
	font-family: sans-serif;
	text-align: center;
}